.QR-Container {
    border-radius: 15px;
    width: 500px;
    height: auto;
    background-color: #cae6ff;
  }
  
  .select-button {
    height: 28px;
    text-align: center;
    line-height: 2px;
    font-size: 14px;
  }

  .QR-Container h2 {
    text-align: center;
    color: #0C111A;
    font-weight: bold;
  }
  
  /* Button Styles */
  .select-button {
    height: 28px;
    text-align: center;
    line-height: 2px;
    font-size: 14px;
    margin-right: 8px;
  }
  
  /* Input and Size Control Styles */
  .input-field {
    width: 100%;
    padding: 4px;
    margin-bottom: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
  }
  
  .size-input {
    width: 60px;
    border: 1px solid lightgray;
    border-radius: 4px;
  }
  
  /* Icon Styles */
  .icon-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    color: #7d7d7d;
    cursor: pointer;
    padding: 8px;
    margin-bottom: 16px;
  }
  